{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Nouveau projet</h1>
        </div>
    </header>
    <div id="content">
        <form name="projet" method="post">
            <div>
                <label for="projet_nom" class="required">Titre du projet</label>
                <input type="text" id="projet_nom" name="projet[nom]" required="required" />
            </div>

            <div>
                <label for="projet_employes">Inviter des membres</label>
                <select id="projet_employes" name="projet[employes][]" multiple="multiple">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.getFirstName() }} {{ user.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button class="button button-submit">Continuer</button>
        </form>
    </div>
</main>
{% endblock %}
