{% extends 'base.html.twig' %}

{% block title %}{{ task.getProject().getName() }}{% endblock %}

{% block body %}
<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>{{ task.getTitle() }}</h1>
        </div>
    </header>

    <div id="content">
        <form name="tache" method="post">
            <div><label for="tache_titre" class="required">Titre de la tâche</label><input type="text" id="tache_titre" name="tache[titre]" required="required" value="Gestion des droits d&#039;accès" /></div>
            <div><label for="tache_description">Description</label><textarea id="tache_description" name="tache[description]">Un employé ne peut accéder qu&#039;à ses projets</textarea></div>
            <div class="flex-form">
                <div><label for="tache_deadline">Date</label><input type="date" id="tache_deadline" name="tache[deadline]" value="2023-09-22" /></div>
                <div>
                    <label for="tache_statut" class="required">Statut</label>
                    <select id="tache_statut" name="tache[statut]">
                        <option value="13" selected="selected">To Do</option>
                        <option value="14">Doing</option>
                        <option value="15">Done</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="tache_employe">Membre</label>
                <select id="tache_employe" name="tache[employe]">
                    <option value=""></option>
                    <option value="13">Natalie Dillon</option>
                    <option value="14">Demi Baker</option>
                </select>
            </div>
            <br>
            <button class="button button-submit">Modifier</button>
            <a href="#" class="delete-task">Supprimer la tâche</a>
        </form>
    </div>
</main>
{% endblock %}
